<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.edersonfernandes.html-007-cdc-canvas-2.primeiro" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Primeiro Projeto Cordova</name>
    <description>
        Primeiro teste de empacotamento de páginas HTML em apps móveis.
    </description>
    <author email="edersonluis.rf@gmail.com" href="http://edersonfernandes.com.br">
        Éderson Fernandes
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>