body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Padrão (largura < altura) */
canvas {
    width: 100%;
    height: auto;
    background-color: darkblue;
    display: block;
}

/* A partir de 1/1 (iguais ou largura > altura) */
@media (min-aspect-ratio: 1/1) {
    canvas {
        width: auto;
        height: 100%;
        background-color: darkblue;
        margin: 0 auto;
    }
}
 